//fonts
@font-family:                 "Myriad Pro", sans-serif;
@font-family2:                "Trade Gothic", sans-serif;
@font-family3:                "Open Sans", sans-serif;

//colors
@white:                       #fff;
@black:                       #000;
@green:                       #64c800;
@green-hover:                 #67ad21;
@grey:                        #888;
@dark-grey:                   #3d3e46;
@light-grey:                  #fcfefd;
@blue:                        #1b8aaa;

@border-radius:               7px;


//media queries
@screen-xs:                   0;
@screen-sm:                   320px;
@screen-md:                   480px;
@screen-lg:                   750px;
@screen-xl:                   960px;
@container-sm:                100%;
@container-md:                100%;
@container-lg:                @screen-lg;
@container-xl:                @screen-xl;
@padding-width:               10px;



//font weight
@font-weight:                 400;
@bold:                        700;
